<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">Reversed Braille Translator</h1>
                <p>
                    Use this site to generate reversed and mirrored Braille characters for the provided text. 
                    This is primarily useful for hand embossing on a slate, where the text and individual characters
                    must be reversed to form the proper patterns when the paper is removed.
                </p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <form onsubmit="return false;">
                    <div class="field">
                        <label class="label" for="input">Text to translate</label>
                        <div class="control">
                            <input class="input" type="text" size="50" id="input">
                        </div>
                    </div>
                    
                    <button class="button is-link" type="submit" onclick="doTranslation();">Convert</button>
                </form>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h3 class="subtitle is-3">Reversed Output</h3>
                <p id="translatedText"></p>
                <div id="translation" class="is-size-2"></div>
            </div>
        </section>
    </body>
</html>

<script>
    const reversedBraille = new Map(Object.entries({
        "a": "⠈",
        "b": "⠘",
        "c": "⠉",
        "d": "⠋",
        "e": "⠊",
        "f": "⠙",
        "g": "⠛",
        "h": "⠚",
        "i": "⠑",
        "j": "⠓",
        "k": "⠨",
        "l": "⠸",
        "m": "⠩",
        "n": "⠫",
        "o": "⠪",
        "p": "⠹",
        "q": "⠻",
        "r": "⠺",
        "s": "⠱",
        "t": "⠳",
        "u": "⠬",
        "v": "⠼",
        "w": "⠗",
        "x": "⠭",
        "y": "⠯",
        "z": "⠮",
        " ": "⠀",
        "1": "⠈",
        "2": "⠘",
        "3": "⠉",
        "4": "⠋",
        "5": "⠊",
        "6": "⠙",
        "7": "⠛",
        "8": "⠚",
        "9": "⠑",
        "0": "⠓",
        "#": "⠧"
    }))

    function doTranslation() {
        const inputString = document.getElementById("input").value
        const formatted = [...inputString].reverse().join('').toLowerCase()
        let translated = ""
        // Translate
        Array.from(formatted).forEach(elem => {
            translated += "|"
            translated += reversedBraille.get(elem)
        })

        translated += "|"

        document.getElementById("translatedText").innerText = formatted
        document.getElementById("translation").innerText = translated
    }
</script>
